.global-button {
  height: 40px;
  padding: 0 30px;
  border: none;
  font-weight: 600;
}

.global-button:hover {
  cursor: pointer;
}

.global-button:focus {
  outline: none;
}

@media only screen and (max-width: 650px) {
  .global-button {
    margin: 15px 15px !important;
  }
}
